@page
@model IndexModel
@{
    ViewData["Title"] = "Shortcode Redirects";
}

<div class="text-center py-16">
    <h1 class="text-4xl font-bold mb-2">More information coming soon</h1>
    <p class="text-gray-600">This site is currently under construction.</p>
</div>